* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.App {
  height: 100%;
}

.ui {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: white;
  white-space: nowrap;
  font-size: 12px;
}

.button-bar {
  display: flex;
  align-items: center;
  gap: 1em;
}

.button {
  margin-left: 1em;
  margin-right: 1em;
}

button {
  padding: 0.8em 1.2em;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #e0e0e0;
}

.icon-wrapper {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Apply border-radius consistently */
}

.active-icon {
  background-color: #888;
}
